{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load profiles_tags %}
{% load avatar_tags %}
{% load activity_tags activities_utils %}
<ul class="unstyled clearfix actions">
    {% if user|is_me:page_user %}
        {% set_user_stream page_user as actions %}
    {% else %}
        {% set_actor_stream page_user as actions %}
    {% endif %}
    
    {% autopaginate actions 25 %}
    {% for action in actions %}
        {% with actor=action.actor %}
            <li>
                <a href="{% if actor.get_absolute_url %}{{ actor.get_absolute_url }}{% else %}{{ actor_url }}"{% endif %}">
                    <span data-original-title="{% user_display actor %}" class="avatar name-tooltip">
                        {% avatar actor 25 %}
                    </span>
                </a>
                {% display_action action %}
            </li>
        {% endwith %}
    {% empty %}
        {% trans "No actions yet" %}
    {% endfor %}
    {% paginate %}
</ul>