{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
<ul class="clearfix unstyled following">
    {% for follow in page_user.follow_set.all %}
        {% with actor=follow.actor %}
            <li>
                <a href="{% if actor.get_absolute_url %}{{ actor.get_absolute_url }}{% else %}{{ actor_url }}"{% endif %}">
                    <span data-original-title="{% user_display actor %}" class="avatar name-tooltip">
                        {% avatar actor 25 %}
                    </span>
                </a>
            </li>
        {% endwith %}
    {% empty %}
        {% trans "No follows yet" %}
    {% endfor %}
</ul>