{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load activity_tags activity_utils %}
<section id="activities">
    <h2>{% trans "Activities" %}</h3>
    
    <h3>{% trans "Following" %}</h3>
    <ul class="clearfix unstyled following">
    {% for follow in page_user.follow_set.all %}
        <li>
        {% display_actor_avatar follow.actor %}
        </li>
    {% empty %}
        {% trans "No follows yet" %}
    {% endfor %}
    </ul>
    
    <h3>{% trans "Actions" %}</h3>
    <ul class="unstyled clearfix actions">
    {% if not is_me %}
        {% with actions=page_user.actor_actions.all %}
            {% autopaginate actions 10 %}
            {% for action in actions %}
                <li>
                {% display_actor_avatar action.actor %}
                {% display_action action %}
                </li>
            {% empty %}
                {% trans "No actions yet" %}
            {% endfor %}
            {% paginate %}
        {% endwith %}
    {% else %}
        {% user_stream page_user as actions %}
            {% autopaginate actions 10 %}
            {% for action in actions %}
                <li>
                {% display_actor_avatar action.actor %}
                {% display_action action %}
                </li>
            {% empty %}
                {% trans "No actions yet" %}
            {% endfor %}
            {% paginate %}
    {% endif %}
    </ul>
</section>