{% load i18n %}
{% load account_tags %}
<span>
    <a href="{% if action.actor.get_absolute_url %}{{ action.actor.get_absolute_url }}{% else %}{{ action.actor_url }}{% endif %}">
    {% if action.actor.get_profile %}
        {% user_display action.actor %}
    {% else %}
        {{ action.actor }}
    {% endif %}
    </a>
    {{ action.verb }}
    {% if action.target %}
        <a href="{% if action.target.get_absolute_url %}{{ action.target.get_absolute_url }}{% else %}{{ action.target_url }}{% endif %}">
            {% if action.target.get_profile %}
                {% user_display action.target %}
            {% else %}
                {{ action.target }}
            {% endif %}
        </a>
    {% endif %}
    
    <time datetime="{{ action.timestamp }}" title="{{ action.timestamp }}">
        {% with time_since=action.timestamp|timesince %}
            {% blocktrans %}{{ time_since }} ago{% endblocktrans %}
        {% endwith %}
    </time>
</span>