{% load url from future %}
{% load i18n %}
{% load project_tags %}
{% load profile_tags %}
<ul class="unstyled">
    {% for member in page_user.projects.active %}
        <li class="project">
            {% show_project member.project %}
        </li>
    {% empty %}
        <li>
            {% blocktrans %}No active member of any projects{% endblocktrans %}
        </li>
    {% endfor %}
</ul>
{% if user|is_me:page_user %}
    <div class="form-actions">
        <a href="{% url 'project_create' %}" class="btn">{% trans "Create Project" %}</a>
    </div>
{% endif %}