{% load url from future %}
{% load i18n %}
{% load projects_tags %}
<div class="row">
    <div class="span9">
        <div class="title">
            <h1>{{ project.name }} <small>({{ project.slug }})</small></h1>
        </div>
    </div>
    <div class="span2 offset1">
        <div class="options">
        {% if projectmember|is_membership:'Leader' %}
            <a id="edit-project-box" href="{% url "project_update" slug=project.slug %}" class="btn btn-info">
                {% trans "Edit Project" %}
            </a>
        {% endif %}
        </div>
    </div>
</div>