{% load i18n %}
{% load templateutils_tags %}
{% load account_tags %}
{% load avatar_tags %}
{% load projects_tags %}
<div class="projectmember-info">
    <a href="{{ projectmember.user.get_absolute_url }}" data-original-title="{% user_display projectmember.user %}" class="avatar name-tooltip">
        {% avatar projectmember.user 25 %}
    </a>
    <div><strong>{% user_display projectmember.user %}</strong></div>
    <div>
        <span class="membership">{{ projectmember.get_membership_display }}</span>
        <span class="since">
            {% if not projectmember|is_membership:'Away' %}
                {% trans "Member" %}
                {% show_time projectmember.member_since %}
            {% else %}
                {% trans "Away" %}
                {% show_time projectmember.away_since %}
            {% endif %}
        </span>
    </div>
</div>
<div class="projectmember-data"></div>