{% extends "projects/base.html" %}

{% load i18n %}
{% load projects_tags %}

{% block header_content %}
    <div class="row">
        <dl class="info dl-horizontal span6">
        <dt>{% trans "Keywords" %}</dt>
        <dd>
            {% for keyword in project.keywords.all %}
                <span class="label">{{ keyword }}</span>
            {% endfor %}
        </dd>
        <dt>{% trans "Description" %}</dt><dd>{{ project.description }}</dd>
        </dl>
        <div class="span6">
            {% comment %} {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="span6 columns">
        <h2>{% trans "Members" %}</h2>
        <ul class="unstyled">
            {% for projectmember in project.members.all %}
                <li>
                    {% show_projectmember projectmember %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="span6 columns">
        
    </div>
{% endblock content %}