{% extends "projects/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}

{% block header_content %}
    <div class="row">
        <dl class="info dl-horizontal span6">
        <dt>{% trans "Tags" %}</dt>
        <dd>
            {% for tag in project.tags.all %}
                <span class="label">{{ tag }}</span>
            {% endfor %}
        </dd>
        <dt>{% trans "Description" %}</dt><dd>{{ project.description }}</dd>
        </dl>
        <div class="span6">
            {% comment %} {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="span6 columns">
        <h2>{% trans "Members" %}</h2>
        {% for member in project.member_queryset %}
            <a href="{{ member.get_absolute_url }}" data-original-title="{% user_display member %}" class="avatar name-tooltip">
                {% avatar member 25 %}
            </a>
        {% endfor %}
    </div>
    <div class="span6 columns">
        
    </div>
{% endblock content %}