{% extends "subnav_base.html" %}

{% load i18n %}

{% block body_class %}projects{% endblock %}

{% block header %}
    {% if project %}
        <div class="banner">
            {% block header_banner %}
                {% include "projects/_banner.html" %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Project" %}</li>
        {% if project %}
            <li><a href="{% url projectmember_update project_slug=project.slug %}">{% trans "Project Members" %}</a></li>
            <li><a href="{% url project_update project_slug=project.slug %}">{% trans "Update" %}</a></li>
        {% else %}
            {% if user.is_authenticated %}
                <li><a href="{% url project_create %}">{% trans "Create" %}</a></li>
            {% endif %}
        {% endif %}
        
        {% comment %}
        <li><a href="{% url project_list %}">{% trans "All Projects" %}</a></li>
        {% endcomment %}
    </ul>
{% endblock %}