{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load profile_tags %}

{% block body_class %}profile{% if user|is_me:page_user %} is_me{% endif %}{% endblock %}

{% block header %}
    <div class="banner">
        {% block header_banner %}
            {% include "profile/_profile_banner.html" %}
        {% endblock %}
    </div>
    <div class="content">
        {% block header_content %}{% endblock %}
    </div>
    
    {% if user|is_me:page_user %}
        {% include "profile/_subnav_bar.html" %}
    {% else %}
        <div class="divider"></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="content row">
        {% block content %}{% endblock %}
    </div>
{% endblock body %}

{% block extra_body %}
    <script>
        $(function () {
            $("#follow_button").click(function (event) {
                event.preventDefault();
                $.post($(this).attr("href"), {});
                location.reload();
            });
        });
    </script>
{% endblock extra_body %}