{% extends "profile/profile_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load project_tags %}

{% user_display page_user as user_display %}

{% block head_title %}
    {% blocktrans %}Profile for {{ user_display }}{% endblocktrans %}
{% endblock %}

{% block header_content %}
    <div class="row">
        <dl class="info dl-horizontal span6">
            {% if profile.about %}
                <dt>{% trans "About" %}</dt><dd>{{ profile.about }}</dd>
            {% endif %}
            {% if profile.location %}
                <dt>{% trans "Location" %}</dt><dd>{{ profile.location }}</dd>
            {% endif %}
            {% if profile.website %}
                <dt>{% trans "Website" %}</dt><dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>
            {% endif %}
        </dl>
        <div class="span6">
            {% comment %} @@@ statistics here!! {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="projects" class="span6 columns">
        <h2>{% trans "Projects" %}</h2>
        {% include "profile/project/_project_list.html" %}
    </section>
    <section id="activities"class="span6 columns">
        <h2>{% trans "Activities" %}</h3>
        <h3>{% trans "Following" %}</h3>
        {% include "profile/activity/_activity_follows.html" %}
        <h3>{% trans "Actions" %}</h3>
        {% include "profile/activity/_activity_actions.html" %}
    </section>
{% endblock content %}