{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}
    {% user_display page_user as user_display %}{% blocktrans %}Profile for {{ user_display }}{% endblocktrans %}
{% endblock %}

{% block header_content %}
    {% include "profiles/_profile_info.html" %}
{% endblock %}

{% block content %}
    <div class="span6 columns">
        <h2>{% trans "Projects" %}</h2>
        <p>project list coming soon</p>
    </div>
    <div class="span6 columns">
        {% include 'activity/_user.html' %}
    </div>
{% endblock content %}