{% extends "profiles/base.html" %}


{% load i18n %}
{% load account_tags %}


{% block head_title %}
    {% user_display page_user as user_display %}{% blocktrans %}Profile for {{ user_display }}{% endblocktrans %}
{% endblock %}

{% block header %}
    {% include "profiles/_profile_info.html" %}
{% endblock %}

{% block columns %}
    <nav class="span6 columns">
    <h2>{% trans "Projects" %}</h2>
    {% block navstaff %}
    {% endblock %}
    </nav>
    <section class="span6 columns">
    <h2>Following</h2>
    comming soon...
    {% comment %}
        {% include 'activity/_pageuser_follow_actions.html' %}
    {% endcomment %}
    {% include 'activity/_pageuser_actions.html' %}

    {% block section %}
    {% endblock %}
    </section>
{% endblock columns %}

{% block extra_body %}
    {% autoescape off %}
    <script>
        $(function () {
            $("#follow_button, #unfollow_button").click(function () {
                $.post($(this).attr("href"), {});
                $(this).parent().find("#follow_button, #unfollow_button").toggle();
                return false
            });
        });
    </script>
    {% endautoescape %}
{% endblock extra_body %}

{% comment %}
    {% block extra_body %}
        <script>
            $(function() {
                $("#edit-profile-box").modal({
                    backdrop: true
                });
            });
        </script>
    {% endblock %}
{% endcomment %}