{% extends "profiles/user_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %}Profile for{% endblocktrans %}{% user_display profile.user %}{% endblock %}

{% block header %}
    <img class="avatar span1" src="{% avatar_url profile.user 56 %}" width="56px" height="56px" alt="{% user_display profile.user %}">
    <div class="profile_info span8">
        <h1>{% user_display profile.user %}</h1>
        {% if profile.about %}<p><b>{% trans "About" %}</b>: {{ profile.about }}</p>{% endif %}
        {% if profile.location %}<p><b>{% trans "Location" %}</b>: {{ profile.location }}</p>{% endif %}
        {% if profile.website %}<p><b>{% trans "Website" %}</b>: <a href="{{ profile.website }}">{{ profile.website }}</a></p>{% endif %}
    </div>
    <div class="profile_options span2 offset1">
        {% if is_me %}
            <a id="edit-profile-box" href="{% url profile_edit %}" class="btn">Edit profile</a>
        {% endif %}
    </div>
{% endblock %}

{% block subnav %}
    <ul class="nav nav-pills">
        <li class="active">
            <a href=#>{% trans "Storys" %}</a>
        </li>
        <li>
            <a href=#>{% trans "Milestone" %}</a>
        </li>
        <li>
            <a href=#>{% trans "Calendar" %}</a>
        </li>
        <li>
            <a href=#>{% trans "Resources" %}</a>
        </li>
    </ul>
{% endblock %}

{% comment %}
    {% block extra_body %}
        <script>
            $(function() {
                $("#edit-profile-box").modal({
                    backdrop: true
                });
            });
        </script>
    {% endblock %}
{% endcomment %}