{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load profiles_tags %}
{% load activity_tags %}
<div class="row">
    <div class="span9">
        <div class="title">
            <span class="avatar">{% avatar page_user 36 %}</span>
            <h1>{% user_display page_user %} <small>({{ page_user.username }})</small></h1>
        </div>
    </div>
    <div class="span2 offset1">
        <div class="options">
        {% if user|is_me:page_user %}
            <a id="edit-profile-box" href="{% url profile_edit %}" class="btn btn-info btn-mini">{% trans "Edit Profile" %}</a>
        {% else %}
            {% if user.is_authenticated %}
                <a href="{% activity_follow_url page_user %}"
                class="btn btn-mini{% if user|is_following:page_user %} active{% endif %}"
                id="follow_button">{% trans "follow" %}</a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>