{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load activity_tags %}
<div class="row">
    <div class="profile_avatar span1">
        <img class="avatar" src="{% avatar_url page_user 54 %}" width="54px" height="54px" alt="{% user_display page_user %}">
    </div>
    <div class="profile_name span8">
        <h1>{% user_display page_user %}</h1>
    </div>
    <div class="profile_options span2 offset1">
    {% if request.user.is_authenticated %}
        {% if is_me %}
            <a id="edit-profile-box" href="{% url profile_edit %}" class="btn btn-mini">Edit profile</a>
        {% else %}
            {% with is_following=request.user|is_following:page_user %}
                <a href="{% activity_follow_url page_user %}" class="btn btn-mini{% if is_following %} active{% endif %}" id="follow_button">{% trans "follow" %}</a>
            {% endwith %}
        {% endif %}
    {% endif %}
    </div>
</div>