{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}

<div class="row">
    <dl class="info dl-horizontal span6">
    {% with profile=page_user.get_profile %}
        {% if profile.about %}<dt>{% trans "About" %}</dt><dd>{{ profile.about }}</dd>{% endif %}
        {% if profile.location %}<dt>{% trans "Location" %}</dt><dd>{{ profile.location }}</dd>{% endif %}
        {% if profile.website %}<dt>{% trans "Website" %}</dt><dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>{% endif %}
    {% endwith %}
    </dl>
    <div class="span6">
        
    </div>
</div>