{% load account_tags %}
{% load avatar_tags %}

<div class="profile-item">
    <div class="thumbnail">
        <img class="avatar pull-left" src="{% avatar_url page_user 44 %}" alt="{% user_display page_user %}">
        <div class="caption" style="display:inline-block;height:26px" >
            <div class="name">
                <a href="{% url profile_detail page_user.username %}">{% user_display page_user %}</a>
            </div>
            <div class="details">
                {% if profile.location %}{{ profile.location }}{% endif %}
                {% if profile.location and profile.website %}&bull;{% endif %}
                {% if profile.website %}<a href="{{ profile.website }}">{{ profile.website }}</a>{% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
