{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block body_class %}profile{% if is_me %} is_me{% endif %}{% endblock %}

{% block header %}
    <div class="banner">
        {% block header_banner %}
            {% include "profiles/_banner.html" %}
        {% endblock %}
    </div>
    <div class="content">
        {% block header_content %}{% endblock %}
    </div>
{% endblock %}

{% block body %}    
    {% if is_me %}
        {% include "profiles/_subnav_bar.html" %}
    {% endif %}
    
    <div class="content row">
    {% block content %}{% endblock %}
    </div>
{% endblock body %}

{% comment %}
{% block extra_script %}
    <script src="{% static "pinax/js/pinax.modal.js" %}"></script>
{% endblock %}
{% endcomment %}

{% block extra_body %}
    <script>
        {# _profile_banner #follow_button #}
        $(function () {
            $("#follow_button").click(function (event) {
                event.preventDefault();
                $.post($(this).attr("href"), {});
                location.reload();
            });
        });
        {# tooltips for avatar .name-tooltip #}
        $(function () {
            $(".name-tooltip").tooltip()
        });
        
        {% comment %}
        {# edit profile ajax modal box #}
        $(function() {
            $("#edit-profile-box").modal({
                backdrop: true
            });
        });
        {% endcomment %}
    </script>
{% endblock extra_body %}