{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load projects_tags %}

{% block head_title %}
    {% user_display page_user as user_display %}{% blocktrans %}Profile for {{ user_display }}{% endblocktrans %}
{% endblock %}

{% block header_content %}
    <div class="row">
        <dl class="info dl-horizontal span6">
        {% if profile.about %}<dt>{% trans "About" %}</dt><dd>{{ profile.about }}</dd>{% endif %}
        {% if profile.location %}<dt>{% trans "Location" %}</dt><dd>{{ profile.location }}</dd>{% endif %}
        {% if profile.website %}<dt>{% trans "Website" %}</dt><dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>{% endif %}
        </dl>
        <div class="span6">
            {% comment %} {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="projects" class="span6 columns">
        <h2>{% trans "Projects" %}</h2>
        {% include "profiles/projects/_projects.html" %}
    </section>
    <section id="activities"class="span6 columns">
        <h2>{% trans "Activities" %}</h3>
        <h3>{% trans "Following" %}</h3>
        {% include "profiles/activities/_follows.html" %}
        <h3>{% trans "Actions" %}</h3>
        {% include "profiles/activities/_actions.html" %}
    </section>
{% endblock content %}