{% extends "profiles/base_settings.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block body %}
    <h2>{% trans "Edit Profile" %}</h2>
      <form class="form-horizontal" method="POST" action="{% url profile_edit %}">
          <fieldset>
              {% csrf_token %}
              {% crispy profile_form %}
              <div class="form-actions">
                  <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                  <a href="{% url profile_detail profile.user.username %}" class="btn">{% trans "Cancel" %}</a>
              </div>
          </fieldset>
      </form>
{% endblock %}