{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load activelink %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Profile" %}</li>
        <li {% ifactive "profile_edit" %}class="active"{% endifactive %}>
            <a href="{% url profile_edit %}">{% trans "Profile" %}</a>
        </li>
        <li {% ifactive "avatar_change" %}class="active"{% endifactive %} {% ifactive "avatar_delete" %}class="active"{% endifactive %}>
            <a href="{% url avatar_change %}">{% trans "Avatar" %}</a>
        </li>
        <li {% ifactive "profile_list" %}class="active"{% endifactive %}>
            <a href="{% url profile_list %}">{% trans "All Profiles" %}</a>
        </li>
    </ul>
    
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Notices" %}</li>
        <li {% ifactive "notification_notices" %}class="active"{% endifactive %}>
            <a href="{% url notification_notices %}">{% trans "Notices" %}</a>
        </li>
        <li {% ifactive "notification_notice_settings" %}class="active"{% endifactive %}>
            <a href="{% url notification_notice_settings %}">{% trans "Settings" %}</a>
        </li>
    </ul>
    
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Account" %}</li>
        <li {% ifactive "acct_email" %}class="active"{% endifactive %}>
            <a href="{% url acct_email %}">{% trans "Email Addresses" %}</a>
        </li>
        {% ifsetting ACCOUNT_USE_OPENID %}
            <li {% ifactive "/openid/associations/" %}class="active"{% endifactive %}>
                <a href="/openid/associations/">{% trans "OpenID Associations" %}</a>
            </li>
        {% endifsetting %}
        {% if user.password %}
        <li {% ifactive "acct_passwd" %}class="active"{% endifactive %}>
            <a href="{% url acct_passwd %}">{% trans "Change Password" %}</a>
        </li>
        {% else %}
        <li {% ifactive "acct_passwd_set" %}class="active"{% endifactive %}>
            <a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a>
        </li>
        {% endif %}
        {% if user.password and request.openids %}
        <li {% ifactive "acct_passwd_delete" %}class="active"{% endifactive %}>
            <a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a>
        </li>
        {% endif %}
        {% ifsetting USE_I18N %}
            <li {% ifactive "acct_language_change" %}class="active"{% endifactive %}>
                <a href="{% url acct_language_change %}">{% trans "Language" %}</a>
            </li>
        {% endifsetting %}
        <li {% ifactive "acct_timezone_change" %}class="active"{% endifactive %}>
            <a href="{% url acct_timezone_change %}">{% trans "Timezone" %}</a>
        </li>
    </ul>
{% endblock %}