{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}profile{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="header row">
            {% block header %}
            {% endblock %}
        </div>
        <div class="subnav">
            {% block subnav %}
            {% endblock %}
        </div>
        <div class="row">
            <div class="span2 columns">
                {% block menunav %}
                {% endblock %}
            </div>
            <div class="span7 columns">
                {% block body %}
                {% endblock %}
            </div>
            <div class="span3 columns">
                {% block aside %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}