{% extends "subnav_base.html" %}

{% load url from future %}
{% load i18n %}
{% load project_tags %}

{% block body_class %}projects{% endblock %}

{% block header %}
    {% if project %}
        <div class="banner">
            {% block header_banner %}
                {% include "project/_project_banner.html" %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Project" %}</li>
        {% include "project/_project_options.html" %}
    </ul>
{% endblock %}